<p>product-detail works!</p>
<div class="card">
    <div class="card-header">
        {{pageTitle + ': ' + product?.productName}}
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary" 
        style="width:80px;"
        (click)="onBack()">
            <i class="fa fa-chevron-left"></i> Back
        </button>
    </div>
</div>
